<div>
	<div class="row">
		<div *ngIf="!isEmptyObject(years)" class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-4">
			<label>Select Year of Pay: </label>
			<select [(ngModel)]="selectedYear" (ngModelChange)="onYearChange($event)" class="selectpicker">
				<option *ngFor="let year of years" [ngValue]="year">{{year.year}}</option>  
			</select>
		</div>
		<div *ngIf="!isEmptyObject(states)" class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-4">
			<label>Select State of Employment: </label>
			<select *ngIf="selectedYear" [(ngModel)]="selectedState" (ngModelChange)="onStateChange($event)" class="selectpicker">
				<option *ngFor="let state of states" [ngValue]="state">{{state.state}}</option>  
			</select>
		</div>
	</div>
	<div class="row">
		<div *ngIf="federalWageDetail && federalWageDetail.minimum_wage" class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-4">
			<h4>Federal Minimum Wage</h4>
			<p *ngIf="selectedYear">{{federalWageDetail.minimum_wage}}</p>
		</div>
		<div *ngIf="selectedStateDetail && selectedStateDetail.minimum_wage" class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-4">
			<h4>State Minimum Wage</h4>
			<p *ngIf="selectedYear">{{selectedStateDetail.minimum_wage}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-4">
			<label>Time Span</label>
			<select [(ngModel)]="timeSpan">
				<option value="weekly">Weekly</option>
			</select>
		</div>
		<div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-4">
			<label>Gross Wages</label>
			<input type="text" [(ngModel)]="grossWages">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-4">
			<label>Hours Worked</label>
			<input type="text" [(ngModel)]="hoursWorked">
		</div>
		<div class="col-xs-offset-1 col-xs-8 col-sm-offset-1 col-sm-4">
			<label>Minimum Wage</label>
			<input type="text" [(ngModel)]="minimumWage">
		</div>
	</div>
</div>