<div>
	<h4>Let's determine the minimum wage that applies to your check.</h4>
	<div class="">
		<div class="input-group" *ngIf="!isEmptyObject(years)">
			<span class="input-group-addon">Year</span>
			<select [(ngModel)]="selectedYear" (ngModelChange)="onYearChange($event)" class="form-control">
				<option *ngFor="let year of years" [ngValue]="year">{{year.year}}</option>  
			</select>
		</div>
	</div>
	<br>
	<div class="">
		<div class="input-group" *ngIf="!isEmptyObject(states)">
			<span class="input-group-addon">State</span>
			<select *ngIf="selectedYear" [(ngModel)]="selectedState" (ngModelChange)="onStateChange($event)" class="form-control">
				<option *ngFor="let state of states" [ngValue]="state">{{state.state}}</option>  
			</select>
		</div>
	</div>
	<br>
</div>