<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <nav class="navbar-header">
    <div class="container">
      <a class="navbar-brand" href="#" (click)="changeNavigationLocation('FairPay')">FairPay</a>
      <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <ul class="nav navbar-nav float-xs-right">
          <li class="nav-item active">
            <a class="nav-link" href="#" (click)="changeNavigationLocation('FairPay')">{{ languageSettings.homeLinkText}} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="switchLanguage()">{{languageSettings.languageLinkText}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="changeNavigationLocation('About')">{{ languageSettings.aboutLinkText }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>