<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngIf="fairpayResponse.fairpay">{{languageSettings.fairpayText}}</li>
    <li class="list-group-item" *ngIf="!fairpayResponse.fairpay">{{languageSettings.unfairpayText}}</li>
    <li class="list-group-item">{{languageSettings.normalHoursText}}: {{fairpayResponse.wage_breakdown.normal_hours}}</li>
    <li class="list-group-item">{{languageSettings.normalPayText}}: {{fairpayResponse.wage_breakdown.normal_pay}}</li>
    <li class="list-group-item">{{languageSettings.overtimeHoursText}}: {{fairpayResponse.wage_breakdown.overtime_hours}}</li>
    <li class="list-group-item">{{languageSettings.overtimePayText}}: {{fairpayResponse.wage_breakdown.overtime_pay}}</li>
    <li class="list-group-item">{{languageSettings.totalPayText}}: {{fairpayResponse.wage_breakdown.total_pay}}</li>
    <li class="list-group-item">{{languageSettings.reportedGrossWagesText}}: {{fairpayResponse.wage_breakdown.reported_gross_wages}}</li>
    <li class="list-group-item" *ngIf="!fairpayResponse.fairpay">{{languageSettings.differenceText}}: {{fairpayResponse.wage_breakdown.difference}}</li>
  </ul>
</div>