<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Normal Hours: {{fairpayResponse.wage_breakdown.normal_hours}}</li>
    <li class="list-group-item">Normal Pay: {{fairpayResponse.wage_breakdown.normal_pay}}</li>
    <li class="list-group-item">Overtime Hours: {{fairpayResponse.wage_breakdown.overtime_hours}}</li>
    <li class="list-group-item">Overtime Pay: {{fairpayResponse.wage_breakdown.overtime_pay}}</li>
    <li class="list-group-item">Total Pay: {{fairpayResponse.wage_breakdown.total_pay}}</li>
    <li class="list-group-item">Reported Gross Wages {{fairpayResponse.wage_breakdown.reported_gross_wages}}</li>
    <li class="list-group-item">Amount under/overpaid: {{fairpayResponse.wage_breakdown.difference}}</li>
  </ul>
</div>