/* You can add global styles to this file, and also import other style files */
body {
	background: #f5f5f5;
}
.fair_pay_form .container {
	background: #ffffff;
	color: #bbbbbb;
	border: 1px solid #cccccc;
}